.time-and-zone {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
  height: 100%;
}

.time-and-date {
  text-align: start;
  padding: 30px 40px;
}

.big-time {
  display: inline-block;
  font-size: 80px;
  line-height: 1.01em;
  font-weight: 100;
  margin: 0px;
  padding: 0px;
  color: #ffffff;
}

.time-period {
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin: 0px;
  padding: 0px 20px;
}

.date {
  color: #ffffff;
  font-size: 30px;
  font-weight: 200;
  padding: 20px 5px;
  margin: 0px;
}

.temp-and-city {
  display: flex;
  padding-bottom: 50px;
  padding-left: 30px;
}

.temp-city {
  display: flex;
  align-items: flex-end;
}

.temp-degree {
  display: flex;
  align-items: flex-start;
}

.temp {
  font-size: 150px;
  color: #ffffff;
  font-weight: 300;
  margin: 0px;
  padding: 0px 0px 0px 40px;
  line-height: 1.3em;
}

.degree {
  font-size: 50px;
  color: #ffffff;
  font-weight: 500;
  margin: 0px;
  padding-top: 20px;
}

.city {
  font-size: 70px;
  color: #ffffff;
  font-weight: 200;
  margin: 0px;
  padding-bottom: 22px;
}
