.to-do-item {
  width: 100%;
  display: flex;
  align-items: center;
}

.done-button-wrapper {
  width: 10%;
  display: flex;
  justify-content: center;
}

.done-button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.done-button:hover {
  background-color: #f0f0f0;
}

.to-do-edit {
  width: 80%;
  font-size: 20px;
  padding: 5px;
}

.edit-task {
  width: 100%;
  padding: 7px;
  font-size: inherit;
  background-color: inherit;
  display: flex;
  align-items: center;
}

.task-input {
  width: 75%;
  font-size: inherit;
}

.edit-button {
  width: 20%;
  font-size: inherit;
  padding: 3px;
  border: none;
  background-color: #000000;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.edit-button:hover {
  background-color: #414141;
}

.edit-task-button {
  width: 100%;
  border: none;
  background-color: inherit;
  font-size: inherit;
  text-align: start;
  padding: 10px;
  cursor: text;
  overflow-wrap: normal;
}
.edit-task-button:hover {
  background-color: #f0f0f0;
}

.delete-button-wrapper {
  width: 10%;
  display: flex;
  justify-content: center;
}

.delete-button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.delete-button:hover {
  background-color: #f0f0f0;
}
