.add-to-do-window {
  padding: 40px;
  margin: 30px;
  border: 2px solid #000000;
  border-radius: 10px;
}

.add-to-do-wrapper {
  padding: 30px 30px 20px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.add-field {
  width: 60%;
  padding: 10px;
}

.add-input {
  width: 100%;
  font-size: 20px;
}

.add-button-wrapper {
  width: 10%;
}

.add-button {
  padding: 0px;
  height: 50px;
  width: 50px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
