html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
  background: url(./Assets/bgimg.jpg) fixed center;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
}

.left {
  width: 70%;
  height: 100%;
}

.right {
  width: 30%;
  height: 100%;
  position: relative;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.right:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(./Assets/bgimg.jpg) fixed center;
  filter: blur(20px);
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  box-shadow: inset 0 0 0 1000px rgba(116, 116, 116, 0.2);
}

.notification {
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 4;
}

.notification-wrapper {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-text {
  margin: 0px;
  padding: 0px 20px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.06em;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 15px;
  height: 15px;
  margin: 40px auto;
  border-radius: 50%;
  background: #ffffff;
}

.loader-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
