.time-zone {
  padding: 0px 20px;
  text-align: end;
  vertical-align: top;
  color: #ffffff;
}

.timezone {
  font-size: 35px;
  font-weight: 200;
  padding: 0px;
  margin: 0px;
}

.latlon {
  font-size: 12px;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}

.scroll {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 70px;
}

.input-coor {
  margin: 0px;
  padding-top: 30px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.input-box {
  width: 70%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 10px;
  background-color: inherit;
  font-family: inherit;
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
}
.input-box:focus {
  outline: none;
}

.search-button {
  width: 80px;
  height: 80px;
  background-color: #d66c06;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.search-icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.search-button:focus {
  background-color: #b65e0c;
}

.search-button:hover > .search-icon {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.weather-details {
  padding-top: 20px;
  padding-left: 5px;
  margin-right: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.details-head {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.key,
.value {
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  padding: 8px 0px;
  margin: 0px;
}
