.day-forecast-wrapper {
  padding: 10px 0px;
}

.day-forecast {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 20px 0px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.day-forecast:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.clicked-day {
  background-color: rgba(0, 0, 0, 0.2);
}

.week-day {
  width: 50%;
}

.forecast-temp {
  width: 20%;
}

.forecast-icon {
  width: 30%;
}

.forecast-details {
  font-size: 20px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin: 0px;
}

.less-opaque {
  color: rgba(255, 255, 255, 0.6);
}

.temp-value {
  letter-spacing: 0.1em;
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  margin: 0px;
}

.next-day-details {
  padding-left: 10px;
  padding-right: 40px;
}

.forecast-header-wrapper {
  margin-right: 30px;
  cursor: pointer;
}
