#registrationForm {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.form-head {
  text-align: center;
}

.form-control {
  margin-bottom: 5px;
}

.form-control > label {
  margin: 0px;
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 7px 0px 3px 7px;
}

.form-control > input,
.form-control > select,
.form-control > textarea {
  width: 100%;
  font-size: 16px;
  padding: 8px;
}

label.options-heading {
  padding-bottom: 10px;
}

.options {
  padding-right: 20px;
}

.error-wrapper {
  height: 20px;
  padding: 0px;
  margin: 0px 0px 0px 10px;
}

.error {
  padding-top: 5px;
  font-size: 12px;
  color: #c53030;
  width: 400px;
}
.error:before {
  content: '❌ ';
  font-size: 10px;
}

#registrationBtn {
  margin-top: 20px;
  padding: 10px;
  align-self: flex-end;
  width: 160px;
  font-size: 16px;
  cursor: pointer;
}
